.collectionItem {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;

    .collectionItem--image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collectionItem__footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .collectionItem__footer--name {
            width: 90%;
            margin-bottom: 15px;
        }

        .collectionItem__footer--price {
            width: 10%;
        }
    }
}
