.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .header__link {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .header__container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .header__container--link {
            padding: 10px 15px;
        }
        button.header__container--link {
            background-color: transparent;
            outline: none;
            border: none;
            font-family: 'Open Sans Condensed' !important;
            color: #000;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}
